body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Calibri Light';
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.btn {
    font-size: 16px;
    font-weight: 600;
}

 /*Set padding to keep content from hitting the edges*/ 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 /*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column*/ 

.dl-horizontal dt {
    white-space: normal;
}

 /*Set width on the form input elements since they're 100% wide by default*/ 
input,
select,
textarea {
    max-width: 280px;
}

.img-logo {
    height: 50px;
}

.navbar-brand1 {
    float: left;

    padding: 5px 15px 5px 0px;
    font-size: 18px;
    line-height: 20px;
}

.cust-header {
    font-size: 18px;
}

.navbar-inverse1 {
    background-color: #332626;
    border-color: #231815;
}
.navbar-inverse1 .navbar-nav > li > a {
   color: #D6D6C4;
   font-weight: 600;
}
.nav-item {
    margin: 5px 0px 5px 0px;
}